{{ if and (eq .hosttype "desktop") (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash

if [[ -n ${DISTROBOX_ENTER_PATH} ]]; then
  export LC_ALL=de_DE.UTF-8
  export LANGUAGE=de_DE.UTF-8
  export LANG=de_DE.UTF-8
  export LC_CTYPE=de_DE.UTF-8
fi

if command -v distrobox > /dev/null; then
  alias dbox="distrobox"

  dboxenter() {
    local box
    box=$(distrobox list --no-color 2>/dev/null | tail -n +2 | awk -F'|' '{gsub(/[[:space:]]+/, "", $2); print $2}' | fzf) && distrobox enter "$box"
  }
fi
{{ end -}}
