#!/usr/bin/env bash

{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
if command -v batcat > /dev/null; then
  alias cat=batcat
fi
{{ else -}}
if command -v bat > /dev/null; then
  alias cat=bat
fi
{{ end -}}