{{ if .personal -}}
[Unit]
Description=Sync user data to homenas
Requires=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/rsync_backup.sh

[Install]
WantedBy=multi-user.target
{{ end -}}
