{{ if and .personal (eq .hosttype "desktop") (eq .chezmoi.os "linux") -}}
[Unit]
Description=Sync books from storage box

[Service]
Type=oneshot
ExecStartPre=notify-send -a "rsync_books" "Start synchronizing books from storage box"
ExecStart=rsync -av --delete -e ssh k8s.storage-box:/home/audiobookshelf/ %h/Bücher/
ExecStopPost=notify-send -a "rsync_books" "Books was synchronized from storage box"

[Install]
WantedBy=multi-user.target
{{ end -}}
