{{- $isDevContainer := or (env "REMOTE_CONTAINERS") (env "CODESPACES") | not | not -}}
{{- $isWSL := and (eq .chezmoi.os "linux") (contains (lower .chezmoi.kernel.osrelease) "microsoft") -}}
{{ if not (or ($isDevContainer) ($isWSL)) -}}
container_manager="podman"
{{ end -}}
