{{ $name := promptStringOnce . "firstname" "What is your fullname" -}}
{{ $email := promptStringOnce . "email" "What is your email address" -}}

data:
    name: {{ $name | quote }}
    email: {{ $email | quote }}

diff:
    exclude:
        - "scripts"