#!/usr/bin/env bash

# -u: Treat unset variables as an error when substituting.
# -e: Exit immediately if a command exits with a non-zero status.
# -o pipefail: the return value of a pipeline is the status of the
#              last command to exit with a non-zero status.
set -eo pipefail

VERSION="1.0.1"

if ! command -v pet > /dev/null; then
  {{ if eq .chezmoi.osRelease.id "ubuntu" -}}
  wget --quiet \
      "https://github.com/knqyf263/pet/releases/download/v${VERSION}/pet_${VERSION}_linux_amd64.deb" \
      -O /tmp/pet.deb
  sudo dpkg -i /tmp/pet.deb
  {{ else if eq .chezmoi.osRelease.id "fedora" -}}
  wget --quiet \
      "https://github.com/knqyf263/pet/releases/download/v${VERSION}/pet_${VERSION}_linux_amd64.rpm" \
      -O /tmp/pet.rpm
  sudo yum install -y /tmp/pet.rpm
  {{ end -}}
fi
