{{- $isDistroboxContainer := ne (env "DISTROBOX_ENTER_PATH") "" -}}
{{- $isDevContainer := or (env "REMOTE_CONTAINERS") (env "CODESPACES") | not | not -}}
{{- $isWSL := and (eq .chezmoi.os "linux") (contains (lower .chezmoi.kernel.osrelease) "microsoft") -}}
{{ if not (or ($isDistroboxContainer) ($isDevContainer) ($isWSL)) -}}
#!/usr/bin/env bash

# -u: Treat unset variables as an error when substituting.
# -e: Exit immediately if a command exits with a non-zero status.
# -o pipefail: the return value of a pipeline is the status of the
#              last command to exit with a non-zero status.
set -eo pipefail

echo ">>> RUN $(basename "$0")"
{{ range .dconf.general }}
echo "dconf write {{ . }}"
dconf write {{ . }}
{{- end }}

{{- if eq .chezmoi.osRelease.id "fedora" }}
{{- range .dconf.fedora }}
echo "dconf write {{ . }}"
dconf write {{ . }}
{{- end }}
{{- end }}

{{- if eq .chezmoi.osRelease.id "ubuntu" }}
{{- range .dconf.ubuntu }}
echo "dconf write {{ . }}"
dconf write {{ . }}
{{- end }}
{{- end }}
{{ end -}}
