{{ if and (eq .hosttype "desktop") (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash

# -u: Treat unset variables as an error when substituting.
# -e: Exit immediately if a command exits with a non-zero status.
# -o pipefail: the return value of a pipeline is the status of the
#              last command to exit with a non-zero status.
set -eo pipefail

echo ">>> RUN $(basename "$0")"

{{ if eq .chezmoi.osRelease.id "ubuntu" -}}

if ! command -v apt > /dev/null; then
    echo "Skip: apt is not installed"
    exit 0
fi

wget https://code.visualstudio.com/sha/download?build=stable&os=linux-deb-x64 -O code.deb
sudo dpkg -i code.deb
rm -v code.deb
{{ else if eq .chezmoi.osRelease.id "fedora" -}}

if ! command -v dnf > /dev/null; then
    echo "Skip: dnf is not installed"
    exit 0
fi

wget https://code.visualstudio.com/sha/download?build=stable&os=linux-rpm-x64 -O code.rpm
sudo dnf install code.rpm
rm -v code.rpm
{{ end -}}

{{- range .vscode.extensions }}
code --install-extension {{ . }}
{{- end }}

{{ end -}}
