{{ if and .personal (eq .hosttype "desktop") (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash

# -u: Treat unset variables as an error when substituting.
# -e: Exit immediately if a command exits with a non-zero status.
# -o pipefail: the return value of a pipeline is the status of the
#              last command to exit with a non-zero status.
set -eo pipefail

echo ">>> RUN $(basename "$0")"

ssh_keys_dir="${PASSWORD_STORE_DIR:-$HOME/.password-store}/ssh_keys"
mapfile -t ssh_keys < <(find "${ssh_keys_dir}" -mindepth 1 -maxdepth 1 -type d -printf '%f\n')

for key in "${ssh_keys[@]}"; do
    if pass show "ssh_keys/$key/private" &>/dev/null; then
        pass show "ssh_keys/$key/private" > "$HOME/.ssh/$key"
        chmod 600 "$HOME/.ssh/$key"
    fi
    if pass show "ssh_keys/$key/public" &>/dev/null; then
        pass show "ssh_keys/$key/public" > "$HOME/.ssh/$key.pub"
        chmod 644 "$HOME/.ssh/$key.pub"
    fi
done
{{ end -}}
