{{ if and (eq .hosttype "desktop") (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash

# -u: Treat unset variables as an error when substituting.
# -e: Exit immediately if a command exits with a non-zero status.
# -o pipefail: the return value of a pipeline is the status of the
#              last command to exit with a non-zero status.
set -eo pipefail

echo ">>> RUN $(basename "$0")"

URL="https://raw.githubusercontent.com/vinceliuice/Tela-circle-icon-theme/refs/heads/master/install.sh"
curl -sSL "${URL}" | bash -s -- -a -n Tela-circle -c
{{ end -}}
