#!/usr/bin/env bash

# -u: Treat unset variables as an error when substituting.
# -e: Exit immediately if a command exits with a non-zero status.
# -o pipefail: the return value of a pipeline is the status of the
#              last command to exit with a non-zero status.
set -eo pipefail

VERSION="2.65.0"

{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
wget --quiet \
    "https://github.com/twpayne/chezmoi/releases/download/v${VERSION}/chezmoi_${VERSIOn}_linux_amd64.deb" \
    -O /tmp/chezmoi.deb
sudo dpkg -i /tmp/chezmoi.deb
{{ else if eq .chezmoi.osRelease.id "fedora" -}}
wget --quiet \
    "https://github.com/twpayne/chezmoi/releases/download/v${VERSION}/chezmoi-${VERSION}-x86_64.rpm" \
    -O /tmp/chezmoi.rpm
sudo yum install -y /tmp/chezmoi.rpm
{{ end -}}