{{ if and .personal (eq .hosttype "desktop") (eq .chezmoi.os "linux") -}}
Host *
  ForwardAgent no
  AddKeysToAgent no
  Compression no
  ServerAliveInterval 60
  ServerAliveCountMax 3
  HashKnownHosts no
  UserKnownHostsFile ~/.ssh/known_hosts
  ControlMaster no
  ControlPath ~/.ssh/master-%r@%n:%p
  ControlPersist no
Host homenas
  User toni
Host root.storage-box
  User {{ (bitwardenFields "item" "a762f1a5-2860-40c6-a51a-b42e012ecb40").username.value }}
  HostName {{ (bitwardenFields "item" "a762f1a5-2860-40c6-a51a-b42e012ecb40").hostname.value }}
  Port 23
Host piserver.storage-box
  User {{ (bitwardenFields "item" "d06ce2a8-c1eb-4048-9419-b42e012f5e1f").username.value }}
  HostName {{ (bitwardenFields "item" "d06ce2a8-c1eb-4048-9419-b42e012f5e1f").hostname.value }}
  Port 23
Host omv.storage-box
  User {{ (bitwardenFields "item" "66dfd364-c2c9-424b-8113-b42e012f22bb").username.value }}
  HostName {{ (bitwardenFields "item" "66dfd364-c2c9-424b-8113-b42e012f22bb").hostname.value }}
  Port 23
{{ end -}}
