{{ if and .personal (eq .hosttype "desktop") (eq .chezmoi.os "linux") -}}
Host *
  ForwardAgent no
  AddKeysToAgent yes
  Compression no
  ServerAliveInterval 60
  ServerAliveCountMax 3
  HashKnownHosts no
  UserKnownHostsFile ~/.ssh/known_hosts
  ControlMaster no
  ControlPath ~/.ssh/master-%r@%n:%p
  ControlPersist no
Host github.com
  User tmaegel
  IdentitiesOnly yes
  IdentityFile ~/.ssh/github_gitlab
Host gitlab.com
  User tnmgl
  IdentitiesOnly yes
  IdentityFile ~/.ssh/github_gitlab
Host codeberg.org
  User tnmgl
  IdentitiesOnly yes
  IdentityFile ~/.ssh/codeberg
Host homenas
  User toni
  IdentitiesOnly yes
  IdentityFile ~/.ssh/homenas
Host root.storage-box
  User {{ (bitwardenFields "item" "a762f1a5-2860-40c6-a51a-b42e012ecb40").username.value }}
  HostName {{ (bitwardenFields "item" "a762f1a5-2860-40c6-a51a-b42e012ecb40").hostname.value }}
  Port 23
Host piserver.storage-box
  User {{ (bitwardenFields "item" "d06ce2a8-c1eb-4048-9419-b42e012f5e1f").username.value }}
  HostName {{ (bitwardenFields "item" "d06ce2a8-c1eb-4048-9419-b42e012f5e1f").hostname.value }}
  Port 23
Host omv.storage-box
  User {{ (bitwardenFields "item" "66dfd364-c2c9-424b-8113-b42e012f22bb").username.value }}
  HostName {{ (bitwardenFields "item" "66dfd364-c2c9-424b-8113-b42e012f22bb").hostname.value }}
  Port 23
  IdentitiesOnly yes
  IdentityFile ~/.ssh/hetzner_storage_box_omv
Host k8s.storage-box
  User {{ (bitwardenFields "item" "fba83e37-da22-401a-ada5-b4450096d329").username.value }}
  HostName {{ (bitwardenFields "item" "fba83e37-da22-401a-ada5-b4450096d329").hostname.value }}
  Port 23
  IdentitiesOnly yes
  IdentityFile ~/.ssh/hetzner_storage_box_k8s
{{ end -}}
