{{ if or (eq .hosttype "wsl") (eq .hosttype "desktop") -}}
{
  "breadcrumbs.icons": false,
  "breadcrumbs.symbolPath": "off",
  "chat.fontSize": 16,
  "chat.viewSessions.orientation": "stacked",
  "dev.containers.defaultExtensions": [
    "esbenp.prettier-vscode",
    "redhat.vscode-yaml",
    "mkhl.shfmt",
    "timonwong.shellcheck",
  ],
  "dev.containers.defaultFeatures": {
    "ghcr.io/roul/devcontainer-features/bitwarden-cli:1": {},
    "ghcr.io/devcontainers/features/nix:1": {
      "version": "latest",
      "multiUser": false,
      "packages": "{{- range .packages.nix }}{{ . }},{{- end }}",
    },
    "ghcr.io/prulloac/devcontainer-features/pre-commit:1": {
      "version": "latest",
    },
    "ghcr.io/guiyomh/features/vim:0": {}
  },
  "dotfiles.repository": "tmaegel/dotfiles",
  "dotfiles.targetPath": "~/dotfiles",
  "dotfiles.installCommand": "install.sh",
  "editor.guides.indentation": true, // we try to make semantic highlighting look good
  "editor.minimap.enabled": false,
  "editor.overviewRulerBorder": false,
  "editor.renderFinalNewline": "on",
  "editor.rulers": [],
  "editor.scrollbar.horizontalScrollbarSize": 8,
  "editor.scrollbar.verticalScrollbarSize": 8,
  "editor.semanticHighlighting.enabled": true,
  "explorer.autoReveal": false,
  "extensions.autoCheckUpdates": true,
  "files.associations": {
    "*.yml": "yaml",
    ".yamlfmt": "yaml",
    ".yamllint": "yaml"
  },
  "files.encoding": "utf8",
  "files.eol": "\n",
  "files.insertFinalNewline": true,
  "files.trimTrailingWhitespace": true,
  "github.copilot.nextEditSuggestions.enabled": true,
  "remote.autoForwardPorts": false,
  "terminal.integrated.allowChords": false,
  "terminal.integrated.fontFamily": "\"Hack Nerd Font\", monospace",
  "terminal.integrated.minimumContrastRatio": 1, // prevent VSCode from modifying the terminal colors
  "terminal.integrated.tabs.enabled": false,
  "update.mode": "none",
  "window.customTitleBarVisibility": "auto",
  "window.menuBarVisibility": "toggle",
  "window.titleBarStyle": "custom",
  "workbench.activityBar.location": "top",
  "workbench.colorTheme": "One Dark Pro Darker",
  "workbench.colorCustomizations": {
    "activityBar.activeBackground": "#23272E",
    "activityBar.activeBorder": "#23272E",
    "activityBar.activeFocusBorder": "#23272E",
    "activityBar.background": "#23272E",
    "activityBar.border": "#1E2227",
    "activityBarBottom.activeBorder": "#1E2227",
    "activityBarTop.activeBorder": "#1E2227",
    "editorGroup.border": "#1E2227",
    "panel.border": "#1E2227",
    "panelInput.border": "#1E2227",
    "panelSection.border": "#1E2227",
    "panelSectionHeader.border": "#23272e",
    "panelTitle.activeBorder": "#23272e",
    "sideBar.background": "#1E2227",
    "statusBar.background": "#1E2227",
    "tab.activeBorder": "#23272E",
    "tab.border": "#1E2227",
    "tab.inactiveBackground": "#1E2227",
    "terminal.border": "#23272e",
    "terminalOverviewRuler.border": "#23272e",
  },
  "workbench.activityBar.location": "top",
  "workbench.editor.editorActionsLocation": "titleBar",
  "workbench.editor.enablePreview": false,
  "workbench.startupEditor": "none",
  "workbench.tree.indent": 14,
  "[json]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.formatOnSave": true
  },
  "[jsonc]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.formatOnSave": true
  },
  "[markdown]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.formatOnSave": true
  },
  "[shellscript]": {
    "editor.formatOnSave": true,
    "editor.codeActionsOnSave": {
      "source.fixAll.shellcheck": "explicit"
    }
  },
  "shfmt.executableArgs": ["-i", "2", "-s", "-bn", "-ci", "-sr"],
  "shellcheck.customArgs": ["-o", "all"],
  "shellcheck.enable": true,
  "shellcheck.enableQuickFix": true,
  "shellcheck.exclude": [],
  "[yaml]": {
    "editor.defaultFormatter": "redhat.vscode-yaml",
    "editor.formatOnSave": true
  },
  "vim.hlsearch": true,
  "vim.incsearch": true,
  "vim.leader": "<space>",
  "vim.useCtrlKeys": true,
  "vim.useSystemClipboard": true,
  "vim.normalModeKeyBindings": [
    {
      "before": ["o"],
      "after": ["o", "<ESC>"],
    },
    {
      "before": ["O"],
      "after": ["O", "<ESC>"],
    },
    {
      "before": ["<leader>", "a"],
      "after": ["g", "g", "V", "G"],
    },
    {
      "before": ["U"],
      "commands": [":redo", "<CR>"],
    },
    {
      "before": ["<leader>", "<Left>"],
      "commands": [":tabprevious", "<CR>"],
    },
    {
      "before": ["<leader>", "<Right>"],
      "commands": [":tabnext", "<CR>"],
    },
    {
      "before": ["<leader>", "b", "n"],
      "commands": [":enew", "<CR>"],
    },
    {
      "before": ["<leader>", "b", "h"],
      "commands": [":sp", "<CR>"],
    },
    {
      "before": ["<leader>", "b", "v"],
      "commands": [":vsp", "<CR>"],
    },
    {
      "before": ["<leader>", "p"],
      "commands": ["workbench.action.showCommands"],
    },
    {
      "before": ["<leader>", "t"],
      "commands": ["workbench.action.tasks.runTask"],
    },
    {
      "before": ["<leader>", "f", "f"],
      "commands": ["workbench.action.quickOpen"],
    },
    {
      "before": ["<leader>", "f", "g"],
      "commands": ["workbench.action.findInFiles"],
    },
    {
      "before": ["<leader>", "f", "d"],
      "commands": ["workbench.view.explorer"],
    },
  ],
}
{{ end -}}
