{{ if and (eq .hosttype "desktop") (eq .chezmoi.os "linux") -}}
[flutter-3.24]
image=fedora:43
additional_packages="{{- range .packages.distrobox.fedora -}} {{ . }} {{ end -}}"
additional_packages="mesa-libGLU java-21-openjdk-headless java-21-openjdk-devel clang cmake ninja-build gtk3-devel sqlite-devel libsecret-devel libxkbfile-devel"
init=false
nvidia=false
pull=true
root=false
replace=true
start_now=false
entry=false
init_hooks=ln -sf /usr/bin/distrobox-host-exec /usr/bin/code;
init_hooks=ln -sf /usr/bin/distrobox-host-exec /usr/bin/docker-compose;
init_hooks=ln -sf /usr/bin/distrobox-host-exec /usr/bin/docker;
init_hooks=ln -sf /usr/bin/distrobox-host-exec /usr/bin/flatpak;
init_hooks=ln -sf /usr/bin/distrobox-host-exec /usr/bin/podman-compose;
init_hooks=ln -sf /usr/bin/distrobox-host-exec /usr/bin/podman;
init_hooks=bash ~/.distrobox/install-flutter.sh 3.24.5;
{{ end -}}
